<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.js.ccit.DAO.RoutinePerformanceDAO">
    <resultMap id="routinePerformance" type="RoutinePerformance">
        <id column="r_id" property="id" jdbcType="INTEGER"/>
        <result column="r_indicator" property="indicator" jdbcType="INTEGER"/>
        <result column="r_element" property="element" jdbcType="INTEGER"/>
        <result column="r_score" property="score" jdbcType="DOUBLE"/>
        <result column="r_comment" property="comment" jdbcType="VARCHAR"/>
        <result column="r_evidenceFile" property="evidenceFile" jdbcType="VARCHAR"/>
        <association property="department" javaType="Department">
            <id column="d_id" property="id" jdbcType="INTEGER"/>
            <result column="d_name" property="name" jdbcType="VARCHAR"/>
        </association>
        <association property="evaluator" javaType="Employee">
            <id column="e_id" property="id" jdbcType="INTEGER"/>
            <result column="e_empId" property="empId" jdbcType="VARCHAR"/>
            <result column="e_name" property="name" jdbcType="VARCHAR"/>
            <association property="identity" javaType="Identity">
                <id column="iden_id" property="id" jdbcType="INTEGER"/>
                <result column="iden_name" property="name" jdbcType="VARCHAR"/>
            </association>
            <association property="department" javaType="Department">
                <id column="ed_id" property="id" jdbcType="INTEGER"/>
                <result column="ed_name" property="name" jdbcType="VARCHAR"/>
            </association>
            <association property="group" javaType="Group">
                <id column="g_id" property="id" jdbcType="INTEGER"/>
                <result column="g_name" property="name" jdbcType="VARCHAR"/>
            </association>
        </association>
    </resultMap>
    <sql id="base_select_sql">
	select
		r.id as r_id,
		r.indicator as r_indicator,
		r.element as r_element,
		r.score as r_score,
		r.comment as r_comment,
		r.department as r_department,
		r.evidenceFile as r_evidenceFile,
		e.id as e_id,
		e.name as e_name,
		e.empId as e_empId,
		iden.id as iden_id,
		iden.name as iden_name,
		ed.id as ed_id,
		ed.shortName as ed_shortName,
		d.id as d_id,
		g.id as g_id,
		g.name as g_name
		from routine_performance as r
		left join department as d on
		r.department = d.id
		left join (employee as e
		left join identity as iden on iden.id = e.identity
		left join department as ed on ed.id = e.department
		left join groups as g on g.id = e.group_ ) on e.empId = r.evaluator
	</sql>
    <select id="selectByPrimaryKey" resultMap="routinePerformance"
            parameterType="java.lang.Integer">
        <include refid="base_select_sql"></include>
        where r.id = #{id,jdbcType=INTEGER}
    </select>
    <select id="select" resultMap="routinePerformance"
            parameterType="map">
        <include refid="base_select_sql"></include>
        <where>
            <trim prefixOverrides="and">
                <if test="indicator != null">
                    and indicator = #{indicator,jdbcType=INTEGER}
                </if>
                <if test="element != null">
                    and element = #{element,jdbcType=INTEGER}
                </if>
                <if test="department != null">
                    and r.department = #{department,jdbcType=INTEGER}
                </if>
            </trim>
        </where>
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from
		routine_performance
		where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="RoutinePerformance">
		insert into
		routine_performance ( indicator, element,
		department, score, comment,evidenceFile, evaluator
		)
		values (#{indicator,jdbcType=INTEGER},
		#{element,jdbcType=INTEGER},
		#{department.id,jdbcType=INTEGER}, #{score,jdbcType=DOUBLE},
		#{comment,jdbcType=VARCHAR},#{evidenceFile,jdbcType=VARCHAR}, #{evaluator.empId,jdbcType=VARCHAR}
		)
  </insert>

    <update id="updateByPrimaryKey" parameterType="RoutinePerformance">
        update routine_performance
        <set>
            <if test="indicator != null">
                indicator = #{indicator,jdbcType=INTEGER},
            </if>
            <if test="element != null">
                element = #{element,jdbcType=INTEGER},
            </if>
            <if test="department != null and department.id !=null">
                department = #{department.id,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=DOUBLE},
            </if>
            <if test="comment != null">
                comment = #{comment,jdbcType=VARCHAR},
            </if>
            <if test="evidenceFile != null">
                evidenceFile = #{evidenceFile,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
</mapper>